* {
  font-family: "Lato";
}

a:-webkit-any-link {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

@media print {
  #rodape,
  #cabecalho,
  #topo,
  #acoes,
  #acoesButton {
    display: none;
  }
}